@font-face {
    font-family: 'bold';
    src: url(../fonts/UrdType.ttf);
}
@font-face {
    font-family: 'exp';
    src: url(../fonts/UrdTypeb.ttf);
}
*{
    padding: 0;
    margin:0;
}
body{
    background-color:rgb(31, 121, 190);
}
a,h3{
    font-family: 'exp';
    font-size: 20px;
}
.back{
    display: block;
    width: 10%;
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 20px 20px 0 auto;
}
.back:hover{
    transition:0.5s;
    background-color: rgb(104, 100, 100);
    color: chocolate;
}
.header{
    width: 70%;
    height: 400px;
    margin: 40px auto auto;
    border-radius: 15px;
    background:linear-gradient(70deg,rgb(255, 192, 46) 0,rgb(255,192,46) 50%,rgb(187,26,63) 50%,rgb(187, 26, 63) 100%);
    box-shadow: 0 0 10px chocolate;
    padding: 10px;
}
h2{
    font-size: 25px;
    font-family: 'bold';
    text-align: center;
    background-color: black;
    width: 50%;
    margin:auto;
    border-radius:15px;
    color: white;
    padding-bottom:10px;
}
.cont-ream{
    height: 280px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin:40px auto auto;
    padding: 15px;
    border-radius: 15px;
}
.amir.reza{
    width: 50%;
    height: 100%;
}
h3{
    width: 99%;
    padding: 7px;
    border-radius: 15px;
    margin: 90px auto auto;
}
.sub{
    display: block;
    width: 50%;
    padding: 5px 5px 4px 5px;
    border-radius: 15px;
    margin: 20px auto auto;
    background-color: black;
    color: chocolate;
    text-align: center;
    text-decoration: none;
}
.sub:hover{
    background-color: white;
    box-shadow: 0 0 10px black;
    transition: 0.4s;
}