<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'home/style/madrak.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> رضا بابایی</title>
</head>
<body>
    <a href="{% url 'reza' %}" class="back-home">بازگشت</a>
    <div class="two">
        <h2 id="uu" class="h2-two-box">مدارک من </h2>
        <div class="uuu">

            <div class="img-divu">
                <img src="{% static 'home/img/madrak.jpg' %}" alt="مدرک">
                
            </div>
            <p class="p-three-box">صادر شده  : اداره کل اموزش و کار کشور</p>

            
            <div class="img-divu">
                <img src="{% static 'home/img/madrak.jpg' %}" alt="مدرک">
            </div>
            <p class="p-three-box">صادر شده  : اداره کل اموزش و کار کشور</p>
        </div>
    </div>
</body>
</html>